global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
- job_name: prometheus
  static_configs:
  - targets:
    - prometheus:9090

- job_name: node-exporter
  static_configs:
  - targets:
    - node-exporter:9100

- job_name: postgres-exporter
  static_configs:
  - targets:
    - postgres-exporter:9187

- job_name: redis-exporter
  static_configs:
  - targets:
    - redis-exporter:9121

- job_name: voting-app
  static_configs:
  - targets:
    - voting-app-exporter:8080
  scrape_interval: 30s
